*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body{
    background-color: black;
    color: white;
}
nav{
    display: flex;
    justify-content: flex-start;
    margin: 40px;
    gap: 150px;
    & ul{
        display: flex;
        
        & li{
            list-style-type: none;
            margin-right: 20px;
            font-size: 20px;
        }
    }
    & h1{
        margin-left: 100px;
    }
}
.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(51,150px);
    grid-auto-flow: dense;
    grid-gap: 5px;
}
.items{
    position: relative;
    & img{
        display: block;
        width: 100%;
        height: 100%;
    }
    & p{
        opacity: 0;
        position: absolute;
        font-size: 18px;
        top: 0px;
        left: 20px;
        margin-top: 20px;
        background-color: transparent;
    }
}
.items:hover{
    & img{
        opacity: 0;
    }
    & p{
        opacity: 1;
    }
}
.it1{
    grid-area: 1/1/4/4;
}
.it2{
    grid-area: 1/4/3/6;
}
.it3{
    grid-area: 1/6/3/7;
}
.it4{
    grid-area: 3/4/5/5;
}
.it5{
    grid-area: 3/5/5/7;
}
.it6{
    grid-area: 4/1/6/2;
}
.it7{
    grid-area: 4/2/6/4;
}
.it8{
    grid-area: 5/4/8/7;
}
.it9{
    grid-area: 6/1/8/3;
}
.it10{
    grid-area: 6/3/8/4;
}
.it11{
    grid-area:8/1/10/2 ;
}
.it12{
    grid-area:8/2/10/4 ;
}
.it13{
    grid-area:8/4/10/5 ;
}
.it14{
    grid-area:8/5/10/7 ;
}
.it15{
    grid-area:10/1/13/4 ;
}
.it16{
    grid-area:10/4/12/6 ;
}
.it17{
    grid-area:10/6/12/7 ;
}
.it18{
    grid-area: 12/4/15/7;
}
.it19{
    grid-area:13/1/15/3 ;
}
.it20{
    grid-area:13/3/15/4 ;
}
.it21{
    grid-area:15/1/17/2 ;
}
.it22{
    grid-area:15/2/17/4 ;
}
.it23{
    grid-area:15/4/17/5 ;
}
.it24{
    grid-area: 15/5/17/7;
}
.it25{
    grid-area: 17/1/20/4;
}
.it26{
    grid-area:17/4/19/6 ;
}
.it27{
    grid-area:17/6/19/7 ;
}
.it28{
    grid-area:19/4/21/5 ;
}
.it29{
    grid-area:19/5/21/7 ;
}
.it30{
    grid-area:20/1/22/3 ;
}
.it31{
    grid-area:20/3/22/4 ;
}
.it32{
    grid-area:21/4/24/7 ;
}
.it33{
    grid-area:22/1/24/2 ;
}
.it34{
    grid-area:22/2/24/4 ;
}
.it35{
    grid-area:24/1/27/4 ;
}
.it36{
    grid-area:24/4/28/6 ;
}
.it37{
    grid-area:24/6/26/7 ;
}
.it38{
    grid-area:26/6/28/7 ;
}
.it39{
    grid-area:27/1/29/2 ;
}
.it40{
    grid-area:27/2/29/4 ;
}
.it41{
    grid-area:28/4/31/7 ;
}
.it42{
    grid-area:29/1/31/3 ;
}
.it43{
    grid-area:29/3/31/4 ;
}
.it44{
    grid-area:31/1/34/4 ;
}
.it45{
    grid-area:31/4/35/6 ;
}
.it46{
    grid-area:31/6/33/7 ;
}
.it47{
    grid-area:33/6/35/7 ;
}
.it48{
    grid-area:34/1/36/2 ;
}
.it49{
    grid-area:34/2/36/4 ;
}
.it50{
    grid-area:35/4/38/7 ;
}
.it51{
    grid-area:36/1/38/3 ;
}
.it52{
    grid-area:36/3/38/4 ;
}
.it53{
    grid-area:38/1/41/4 ;
}
.it54{
    grid-area:38/4/42/6 ;
}
.it55{
    grid-area:38/6/40/7 ;
}
.it56{
    grid-area:40/6/42/7 ;
}
.it57{
    grid-area:41/1/43/2 ;
}
.it58{
    grid-area:41/2/43/4 ;
}
.it59{
    grid-area:42/4/45/7 ;
}
.it60{
    grid-area:43/1/45/3 ;
}
.it61{
    grid-area:43/3/45/4 ;
}
.it62{
    grid-area:45/1/48/4 ;
}
.it63{
    grid-area:45/4/49/6 ;
}
.it64{
    grid-area:45/6/47/7 ;
}
.it65{
    grid-area:47/6/49/7 ;
}
.it66{
    grid-area:48/1/50/3 ;
}
.it67{
    grid-area:48/3/50/4 ;
}
.it68{
    grid-area:49/4/52/7 ;
}
.it69{
    grid-area:50/1/52/2 ;
}
.it70{
    grid-area:50/2/52/4 ;
}